<!--top-sec-->
<div class="container-fluid mission-sec sign-up">
	<div class="col-md-6 newsletter passsion-info text-center">
    	<div class="passion-to-work">
    	<p>We do your work with</p>
        <h4>passion</h4>
        <p class="best-result">To get the best result</p>
            <div class="top-button">
                <a href="#" class="work-btn view-btn">View services</a>
                <a href="#" class="work-btn">Purchase now!</a>
            </div>
        </div>
    </div>
    <div class="col-md-offset-4 col-md-8 passion-body col-sm-12 padd-80"></div>
    <div class="clearfix"></div>
</div>