<!--Search-bar-->
<div class="container-fluid search-bar">
	<div class="container">

	<div class="col-md-3">
	<div class="categories">
	<ul>
	<li class="sub-menu"><a class="main-a" href="javascript:void(0)">All Departments <i class='fa fa-angle-down'></i></a>

	<ul>
		<li><a href="#"><i class="flaticon-coupon"></i>Deal of the Day<i class="fa fa-angle-right" aria-hidden="true"></i></a>
	    	<div class="categories-mega-menu">
				<div class="categories-main-menu">
					<span>
							<a href="#" class="title">Headphones</a>
							<a href="#">Headphones with Mic</a>
							<a href="#">Bluetooth/Wireless</a>
							<a href="#">Extra Bass</a>
							<a href="#">Noise Cancelling</a>
					</span>
					<span>
							<a href="#" class="title">Headphones Pro</a>
							<a href="#">Wire Managers</a>
							<a href="#">Hi-Res Music Players</a>
							<a href="#">Headphone Amplifiers</a>
							<a href="#">Headphone DACs</a>
					</span>
					<span>
							<a href="#" class="title">Studio wireless</a>
							<a href="#">Wireless Headphones</a>
							<a href="#">On Ear Headphones</a>
							<a href="#">Planar Magnetic</a>
							<a href="#">Bone Conduction</a>
					</span>
					<span>
							<a href="#" class="title">Accessories</a>
							<a href="#">Earbud Tips</a>
							<a href="#">Headphone Amps</a>
							<a href="#">Headphone Cases</a>
							<a href="#">Headphone Splitters</a>
					</span>
				</div>
				<div class="categories-img">
					<div class="single-banner-2"><a href="#"><img src="img/inner-page/menu-banner.jpg" class="img-responsive" alt="banner"></a></div>
				</div>
			</div>
	    </li>
	    
	    <li><a href="#"><i class="flaticon-percentage"></i>Top 100 Exclusive Offers<i class="fa fa-angle-right" aria-hidden="true"></i></a>
	    	<div class="categories-mega-menu categories-mega-menu-2">
				<div class="categories-main-menu">
					<span>
							<a href="#" class="title">Headphones Solo™2</a>
							<a href="#">Headphones with Mic</a>
							<a href="#">Bluetooth/Wireless</a>
							<a href="#">Extra Bass</a>
							<a href="#">Noise Cancelling</a>
					</span>
					<span>
							<a href="#" class="title">Headphones Pro</a>
							<a href="#">Wire Managers</a>
							<a href="#">Hi-Res Music Players</a>
							<a href="#">Headphone Amplifiers</a>
							<a href="#">Headphone DACs</a>
					</span>
					<span>
							<a href="#" class="title">Studio wireless</a>
							<a href="#">Wireless Headphones</a>
							<a href="#">On Ear Headphones</a>
							<a href="#">Planar Magnetic</a>
							<a href="#">Bone Conduction</a>
					</span>
					<span>
							<a href="#" class="title">Accessories</a>
							<a href="#">Earbud Tips</a>
							<a href="#">Headphone Amps</a>
							<a href="#">Headphone Cases</a>
							<a href="#">Headphone Splitters</a>
					</span>
				</div>
			</div>
	    </li>
	    
	    <li><a href="#"><i class="flaticon-new"></i>New Arrivals<i class="fa fa-angle-right" aria-hidden="true"></i></a>
	    	<div class="categories-mega-menu categories-mega-menu-2">
				<div class="categories-main-menu">
					<span>
							<a href="#" class="title">Headphones Solo™2</a>
							<a href="#">Headphones with Mic</a>
							<a href="#">Bluetooth/Wireless</a>
							<a href="#">Extra Bass</a>
							<a href="#">Noise Cancelling</a>
					</span>
					<span>
							<a href="#" class="title">Headphones Pro</a>
							<a href="#">Wire Managers</a>
							<a href="#">Hi-Res Music Players</a>
							<a href="#">Headphone Amplifiers</a>
							<a href="#">Headphone DACs</a>
					</span>
					<span>
							<a href="#" class="title">Studio wireless</a>
							<a href="#">Wireless Headphones</a>
							<a href="#">On Ear Headphones</a>
							<a href="#">Planar Magnetic</a>
							<a href="#">Bone Conduction</a>
					</span>
					<span>
							<a href="#" class="title">Accessories</a>

							<a href="#">Earbud Tips</a>
							<a href="#">Headphone Amps</a>
							<a href="#">Headphone Cases</a>
							<a href="#">Headphone Splitters</a>
					</span>
				</div>
			</div>
	    </li>
	    
	    <li><a href="#"><i class="flaticon-photo-camera"></i>Cameras, Audio & Video <i class="fa fa-angle-right" aria-hidden="true"></i></a>
	    	<div class="categories-mega-menu categories-mega-menu-2">
				<div class="categories-main-menu">
					<span>
							<a href="#" class="title">Headphones Solo™2</a>
							<a href="#">Headphones with Mic</a>
							<a href="#">Bluetooth/Wireless</a>
							<a href="#">Extra Bass</a>
							<a href="#">Noise Cancelling</a>
					</span>
					<span>
							<a href="#" class="title">Headphones Pro</a>
							<a href="#">Wire Managers</a>
							<a href="#">Hi-Res Music Players</a>
							<a href="#">Headphone Amplifiers</a>
							<a href="#">Headphone DACs</a>
					</span>
					<span>
							<a href="#" class="title">Studio wireless</a>
							<a href="#">Wireless Headphones</a>
							<a href="#">On Ear Headphones</a>
							<a href="#">Planar Magnetic</a>
							<a href="#">Bone Conduction</a>
					</span>
					<span>
							<a href="#" class="title">Accessories</a>
							<a href="#">Earbud Tips</a>
							<a href="#">Headphone Amps</a>
							<a href="#">Headphone Cases</a>
							<a href="#">Headphone Splitters</a>
					</span>
				</div>
			</div>
	    </li>
	    
	    <li><a href="#"><i class="flaticon-smartphone"></i>Mobiles & Tablets<i class="fa fa-angle-right" aria-hidden="true"></i></a>
	    	<div class="categories-mega-menu categories-mega-menu-2">
				<div class="categories-main-menu">
					<span>
							<a href="#" class="title">Headphones Solo™2</a>
							<a href="#">Headphones with Mic</a>
							<a href="#">Bluetooth/Wireless</a>
							<a href="#">Extra Bass</a>
							<a href="#">Noise Cancelling</a>
					</span>
					<span>
							<a href="#" class="title">Headphones Pro</a>
							<a href="#">Wire Managers</a>
							<a href="#">Hi-Res Music Players</a>
							<a href="#">Headphone Amplifiers</a>
							<a href="#">Headphone DACs</a>
					</span>
					<span>
							<a href="#" class="title">Studio wireless</a>
							<a href="#">Wireless Headphones</a>
							<a href="#">On Ear Headphones</a>
							<a href="#">Planar Magnetic</a>
							<a href="#">Bone Conduction</a>
					</span>
					<span>
							<a href="#" class="title">Accessories</a>
							<a href="#">Earbud Tips</a>
							<a href="#">Headphone Amps</a>
							<a href="#">Headphone Cases</a>
							<a href="#">Headphone Splitters</a>
					</span>
				</div>
			</div>
	    </li>
	    
	    <li><a href="#"><i class="flaticon-clock-with-white-face"></i>Watches & Eyewear<i class="fa fa-angle-right" aria-hidden="true"></i></a>
	    	<div class="categories-mega-menu categories-mega-menu-2">
				<div class="categories-main-menu">
					<span>
							<a href="#" class="title">Headphones Solo™2</a>
							<a href="#">Headphones with Mic</a>
							<a href="#">Bluetooth/Wireless</a>
							<a href="#">Extra Bass</a>
							<a href="#">Noise Cancelling</a>
					</span>
					<span>
							<a href="#" class="title">Headphones Pro</a>
							<a href="#">Wire Managers</a>
							<a href="#">Hi-Res Music Players</a>
							<a href="#">Headphone Amplifiers</a>
							<a href="#">Headphone DACs</a>
					</span>
					<span>
							<a href="#" class="title">Studio wireless</a>
							<a href="#">Wireless Headphones</a>
							<a href="#">On Ear Headphones</a>
							<a href="#">Planar Magnetic</a>
							<a href="#">Bone Conduction</a>
					</span>
					<span>
							<a href="#" class="title">Accessories</a>
							<a href="#">Earbud Tips</a>
							<a href="#">Headphone Amps</a>
							<a href="#">Headphone Cases</a>
							<a href="#">Headphone Splitters</a>
					</span>
				</div>
			</div>
	    </li>
	    
	    <li><a href="#"><i class="flaticon-laptop"></i>Computers & Accessories<i class="fa fa-angle-right" aria-hidden="true"></i></a>
	    	<div class="categories-mega-menu">
				<div class="categories-main-menu">
					<span>
							<a href="#" class="title">Headphones</a>
							<a href="#">Headphones with Mic</a>
							<a href="#">Bluetooth/Wireless</a>
							<a href="#">Extra Bass</a>
							<a href="#">Noise Cancelling</a>
					</span>
					<span>
							<a href="#" class="title">Headphones Pro</a>
							<a href="#">Wire Managers</a>
							<a href="#">Hi-Res Music Players</a>
							<a href="#">Headphone Amplifiers</a>
							<a href="#">Headphone DACs</a>
					</span>
					<span>
							<a href="#" class="title">Studio wireless</a>
							<a href="#">Wireless Headphones</a>
							<a href="#">On Ear Headphones</a>
							<a href="#">Planar Magnetic</a>
							<a href="#">Bone Conduction</a>
					</span>
					<span>
							<a href="#" class="title">Accessories</a>
							<a href="#">Earbud Tips</a>
							<a href="#">Headphone Amps</a>
							<a href="#">Headphone Cases</a>
							<a href="#">Headphone Splitters</a>
					</span>
				</div>
				<div class="categories-img">
					<div class="single-banner-2"><a href="#"><img src="img/inner-page/menu-banner.jpg" class="img-responsive" alt="banner"></a></div>
				</div>
			</div>
	    </li>
	    
	    <li><a href="#"><i class="flaticon-music-player"></i>Movies, Music & Games<i class="fa fa-angle-right" aria-hidden="true"></i></a>
	    	<div class="categories-mega-menu categories-mega-menu-2">
				<div class="categories-main-menu">
					<span>
							<a href="#" class="title">Headphones Solo™2</a>
							<a href="#">Headphones with Mic</a>
							<a href="#">Bluetooth/Wireless</a>
							<a href="#">Extra Bass</a>
							<a href="#">Noise Cancelling</a>
					</span>
					<span>
							<a href="#" class="title">Headphones Pro</a>
							<a href="#">Wire Managers</a>
							<a href="#">Hi-Res Music Players</a>
							<a href="#">Headphone Amplifiers</a>
							<a href="#">Headphone DACs</a>
					</span>
					<span>
							<a href="#" class="title">Studio wireless</a>
							<a href="#">Wireless Headphones</a>
							<a href="#">On Ear Headphones</a>
							<a href="#">Planar Magnetic</a>
							<a href="#">Bone Conduction</a>
					</span>
					<span>
							<a href="#" class="title">Accessories</a>
							<a href="#">Earbud Tips</a>
							<a href="#">Headphone Amps</a>
							<a href="#">Headphone Cases</a>
							<a href="#">Headphone Splitters</a>
					</span>
				</div>
			</div>
	    </li>
	    
	    <li><a href="#"><i class="flaticon-monitor"></i>TV & Audio <i class="fa fa-angle-right" aria-hidden="true"></i></a>
	   		 <div class="categories-mega-menu categories-mega-menu-2">
				<div class="categories-main-menu">
					<span>
							<a href="#" class="title">Headphones Solo™2</a>
							<a href="#">Headphones with Mic</a>
							<a href="#">Bluetooth/Wireless</a>
							<a href="#">Extra Bass</a>
							<a href="#">Noise Cancelling</a>
					</span>
					<span>
							<a href="#" class="title">Headphones Pro</a>
							<a href="#">Wire Managers</a>
							<a href="#">Hi-Res Music Players</a>
							<a href="#">Headphone Amplifiers</a>
							<a href="#">Headphone DACs</a>
					</span>
					<span>
							<a href="#" class="title">Studio wireless</a>
							<a href="#">Wireless Headphones</a>
							<a href="#">On Ear Headphones</a>
							<a href="#">Planar Magnetic</a>
							<a href="#">Bone Conduction</a>
					</span>
					<span>
							<a href="#" class="title">Accessories</a>
							<a href="#">Earbud Tips</a>
							<a href="#">Headphone Amps</a>
							<a href="#">Headphone Cases</a>
							<a href="#">Headphone Splitters</a>
					</span>
				</div>
			</div>
	    </li>
	    
	    <li><a href="#"><i class="flaticon-car"></i>Car, Motorbike & Industrial<i class="fa fa-angle-right" aria-hidden="true"></i></a>
	    	<div class="categories-mega-menu categories-mega-menu-2">
				<div class="categories-main-menu">
					
	                <span>
							<a href="#" class="title">Headphones Solo™2</a>
							<a href="#">Headphones with Mic</a>
							<a href="#">Bluetooth/Wireless</a>
							<a href="#">Extra Bass</a>
							<a href="#">Noise Cancelling</a>
					</span>
					<span>
							<a href="#" class="title">Headphones Pro</a>
							<a href="#">Wire Managers</a>
							<a href="#">Hi-Res Music Players</a>
							<a href="#">Headphone Amplifiers</a>
							<a href="#">Headphone DACs</a>
					</span>
					
				</div>
			</div>
	    </li>
	    <li><a href="#"><i class="flaticon-glasses"></i>Accessories<i class="fa fa-angle-right" aria-hidden="true"></i></a>
	    	<div class="categories-mega-menu categories-mega-menu-2">
				<div class="categories-main-menu">
					
	                <span>
							<a href="#" class="title">Headphones Solo™2</a>
							<a href="#">Headphones with Mic</a>
							<a href="#">Bluetooth/Wireless</a>
							<a href="#">Extra Bass</a>
							<a href="#">Noise Cancelling</a>
					</span>
					<span>
							<a href="#" class="title">Headphones Pro</a>
							<a href="#">Wire Managers</a>
							<a href="#">Hi-Res Music Players</a>
							<a href="#">Headphone Amplifiers</a>
							<a href="#">Headphone DACs</a>
					</span>
					
				</div>
			</div>
	    </li>
	    
	</ul>

	</li>
	</ul>  
	</div>
	</div>

	<div class="col-md-6 search">
	<input type="text" name="search" placeholder="Search by product name" />
	<select>
	<option>All Categories</option>
	<option>Men</option>
	<option>Women</option>
	<option>Electronics</option>
	<option>Smart Phones</option>
	</select>
	<div class="round search-round"><a href="#"><i class="flaticon-search"></i></a></div>
	</div>

	<div class="col-md-3 soc text-right">
	<ul>
	<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
	<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
	<li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
	<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
	</ul>
	</div>

	</div>
</div>